.github-button {
  background-color: #333;
}

.linkedin-button {
  background-color: #0077b5;
}

.twitter-button {
  background-color: #1da1f2;
}

.blog-link {
  text-decoration: none;
}

.dark-shadow {
  --tw-shadow: 0 4px 6px -1px rgb(255 255 255 / 0.5),
    0 2px 4px -2px rgb(255 255 255 / 0.5);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
    0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #ffffff),
    var(--tw-ring-shadow, 0 0 #ffffff), var(--tw-shadow);
}

.light-shadow {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.3), 0 2px 4px -2px rgb(0 0 0 / 0.3);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
    0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
